<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <h2>Welcome to the <%= title %>
  </h2>
  <p><a href="/new">New Message</a></p>
  <ul id="messages">
    <% messages.forEach((message)=> { %>
      <li class='message-info'>
        <%= message.user %> - <%= message.added %><br />
            <%= message.text %>
      </li>
      <% }) %>
  </ul>
</body>

</html>